# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore specific files
!Makefile

### Above combination will ignore all files without extension ###

# Ignore goreleaser output dir
dist/
